<div role="affix">
    <div class="list-group">
        <a href="#books/{{bookId}}" class="list-group-item active">基本信息</a>
        <a href="#books/{{bookId}}" class="list-group-item">导读</a>
        <a href="#books/{{bookId}}" class="list-group-item">书评</a>
        <a href="#books/{{bookId}}" class="list-group-item">思考</a>
        <a href="#books/{{bookId}}" class="list-group-item">读书会</a>
    </div>
</div>