<div id="left-side-bar" class="col-xs-3" role="left-side-bar">
    <div role="affix">
        <div class="list-group">
            <a href="#books/{{_id}}" class="list-group-item active">基本信息</a>
            <a href="#books/{{_id}}" class="list-group-item">导读</a>
            <a href="#books/{{_id}}" class="list-group-item">书评</a>
            <a href="#books/{{_id}}" class="list-group-item">思考</a>
            <a href="#books/{{_id}}" class="list-group-item">读书会</a>
        </div>
    </div>
</div>
<div id="main" class="col-xs-6" role="main">
    <div class="media">
        <img class="media-object pull-left" alt="{{name}}" data-src="holder.js/200x300">
        <h2 class="media-heading">{{name}}</h2>
        <div class="media-body">
            <p>作者：{{#each authors}}{{name}} {{/each}}</p>
            <p>其他信息</p>
            <p>标签</p>
        </div>
    </div>
    <div>
        <div class="page-header">
            <h3>内容简介</h3>
        </div>
        <p>{{introduction}}</p>
    </div>
    <div>
        <div class="page-header">
            <h3>作者简介</h3>
        </div>
        <p>作者简介</p>
    </div>
    <div>
        <div class="page-header">
            <h3>目录</h3>
        </div>
        <p>目录</p>
    </div>
</div>
<div id="right-side-bar" class="col-xs-3" role="right-side-bar">
    右边栏
</div>