<div class="media">
    <a class="pull-left" href="#books/{{_id}}">
        <img alt="{{name}}" data-src="holder.js/100x150">
    </a>
    <div class="media-body">
        <h4 class="media-heading"><a href="#books/{{_id}}">{{name}}</a></h4>
        <div class="media-body">
            <p>作者：{{#each authors}}{{name}} {{/each}}</p>
            <p>简介：{{introduction}}</p>
        </div>
    </div>
</div>